# System Files
#-------------------------
\.htaccess

application/config/database\.php
application/config/config\.php


# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

application/models/bonitas\.php

application/config/conexion\.php

application 2\.rar
